<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <h1>Zajęcia WSB 13.06</h1>
  </div>
</ion-content> -->

<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <h3>text-start</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <h3>text-end</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <h3>text-center</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <h3>text-justify</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-wrap">
            <h3>text-wrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-nowrap">
            <h3>text-nowrap</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>